<header>
  <img
    src="assets/img/cinthia.jpeg"
    alt="Cinthia Barbosa - Foto de Perfil"
    width="200px"
    height="200px"
    loading="eager"
  />
  <h1>Cinthia Barbosa</h1>
  <aside>
    <div class="container">
      <p>Systems Developer | C# | .Net Core | SQL Server | Cypress | CI/CD</p>
      <p>São Paulo, Brasil</p>
      <p>Em 2019 me encontrei na área de desenvolvimento, sou apaixonada por tecnologia e estou comprometida em me manter atualizada e em constante evolução!</p>
     <nav>
      <ul>
        <li>
          <a href="assets/pdf/resume.pdf" target="_blank" class="btn btn-primary">Download CV</a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/cinthiabs/" target="_blank" class="btn btn-secondary">LinkedIn</a>
        </li>

      </ul>
     </nav>

     <section>
      <figure>
        <img src=""
            alt="Icone"
            width="22px"
            height="24px"
        />
        <figcaption>
          <a href="mailto:cinthiabarbosa8d@outlook.com" target="_blank">
          <strong>Envie um e-mail</strong>
          <p>cinthiabarbosa8d&#64;outlook.com</p>
        </a>
        </figcaption>
      </figure>
     </section>
    </div>
  </aside>
</header>

