<header>
  <img
    src="assets/img/cinthia.jpeg"
    alt="Cinthia Barbosa - Foto de Perfil"
    width="200px"
    height="200px"
    loading="eager"
  />
  <h1>Cinthia Barbosa</h1>
  <aside>
    <div class="container">
      <p>Desenvolvedora de Sistemas | C# | .Net Core | SQL Server | Cypress | CI/CD</p>
      <p>São Paulo, Brasil</p>
      <p>Formada em Gestão de Tecnologia da Informação em 2019, encontrei minha paixão na área de desenvolvimento. Comprometida com a constante atualização e evolução, estou determinada a explorar novas oportunidades e desafios!</p>
     <nav>
      <ul>
        <li>
          <a href="mailto:cinthiabarbosa8d@outlook.com" target="_blank" class="btn btn-primary">Envie um e-mail</a>
        </li>

        <li>
          <a href="https://www.linkedin.com/in/cinthiabs/" target="_blank" class="btn btn-secondary">LinkedIn</a>
        </li>

      </ul>
     </nav>

    </div>
  </aside>
</header>

