:root{
  --primary: #b33d66;
  --primary-010: #a6375e;

  --secondary:#21804d;
  --secondary-010:#06374e;

  --white:#fff;
  --black:#10101a;

  --black-010:#2a2a30;
  --grey:#9b9ba0;
  --grey-010: #9ca3af;
}
